# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/backup/

*.psd
/points.json
/npm-debug.log
/config.js
/core/masterreactions.json

/undefined
/.gitignore
/ ./node_modules
/node_modules/
/core/modules.json
/core/commands/b.js
/utils/forfun/
/.editorconfig
/core/undone/
/autoexec.bat
/core/MORKEN.txt
/map.html
/database/servers.json
/database/users.json
/sharding.js
/database.js
/test.js
/data/
/hooks.js
/secure-file/beta.js
/core/commands/_normalise.js
/core/undone/rps.js
/core/commands/buyrole.js
