.columns(style="min-height:480px")
  .column.is-half
    p: b Current Background
    .level
      .level-item
      img.level-item(src="/backdrops/"+user.modules.bgID+".png").userbg#userbg
      .level-item
    .level
      .level-item.level-right
        a#previewbg.button.is-small.is-light() PREVIEW
        div &#x2003
        a#savebg.button.is-info.is-small(disabled) SAVE
    a.button(href="bgshop") Get More Backgrounds!
    hr
    p
      b Rubines:
      span= user.modules.goodies
    p
      b Jades:
      span= 0

  .column.is-half
    p: b Background Inventory
    .nano.inv_box
      .nano-content
        if bgInv
          for i in bgInv
            .bg_icon
              -if (i == 0)i="5zhr3HWlQB4OmyCBFyHbFuoIhxrZY6l6";
              -let base = JSON.parse(BGBASE)
              -let filter = base.filter(med=>med.name==i)[0]

              a.bgpick: img(src="/backdrops/"+i+".png").is-vcentered

              img.this_rare(src="/images/tiers/"+filter.rarity+".png").is-vcentered
        else
            .bg_icon

                a.bgpick: img(src="/backdrops/5zhr3HWlQB4OmyCBFyHbFuoIhxrZY6l6.png").is-vcentered

                img.this_rare(src="/images/tiers/C.png").is-vcentered
