p: b Current Personal Text
textarea(maxlength="125").textarea#abo= user.modules.persotext
br
.level
  .level-item.level-right
    a#resetabout.button.is-small.is-danger RESET
    div &#x2003
    a#prevabout.button.is-small.is-light PREVIEW
    div &#x2003
    a#saveabout.button.is-info.is-small SAVE
