$family-sans-serif: "Whitney"

@import "./utilities/_all"
//@import "./font"




$pollux-danger:   #eb3c3c
$pollux-info:     #556de5
$pollux-success:  #5fd061
$pollux-warning:  #ffcb10
$pollux-ruby:     #eb2c58
$pollux-pink:     #e87aa9
$pollux-purple:   #ae77dd//#ba80de
$pollux-nsfw:     #5258e8
$pollux-mod:      #788fff



$pollux-danger-i:   findColorInvert($pollux-danger)
$pollux-info-i:     findColorInvert($pollux-info)
$pollux-success-i:  findColorInvert($pollux-success)
$pollux-warning-i:  findColorInvert($pollux-warning)
$pollux-ruby-i:     findColorInvert($pollux-ruby)
$pollux-pink-i:     findColorInvert($pollux-pink)
$pollux-purple-i:   findColorInvert($pollux-purple)
$pollux-nsfw-i:     findColorInvert($pollux-nsfw)
$pollux-mod-i:      findColorInvert($pollux-mod)



$text:   hsl(0, 0%, 71%)
$background: $grey-darker
$grey-darkest:  hsl(215, 5%, 18%)
$grey-lightish:  hsl(215, 5%, 55%) !default
$grey-darkish:  hsl(215, 5%, 40%) !default
$black-bis-mid:  hsl(215, 5%, 8%)

$blugray-dark: hsl(215, 5%, 20%)
$blugray: hsl(215, 5%, 25%)
$blugray-light: hsl(215, 5%, 30%)

$colors: ("danger":($pollux-danger,$pollux-danger-i),"info":($pollux-info,$pollux-info-i),"success":($pollux-success,$pollux-success-i),"warning":($pollux-warning,$pollux-warning-i),"ruby":($pollux-ruby,$pollux-ruby-i),"pink":($pollux-pink,$pollux-pink-i),"purple":($pollux-purple,$pollux-purple-i),"nsfw":($pollux-nsfw,$pollux-nsfw-i),"mod":($pollux-mod,$pollux-mod-i),"white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($black-bis, $white), "primary": ($pollux-pink, $primary-invert))




$primary: $pollux-pink
$link: $pollux-pink
$code-background:   #412e35
$code:              #4cbbed

.message-body code, .message-body pre
  background: $code-background!important
  padding: 2px 4px

  border-radius: 3px

.message.is-small
  font-size: 0.75rem;
.message.is-large
  font-size: 1.25rem;

.tag
  border-radius: 3px !important

.med-name
  background: $pollux-pink
  color: $pollux-pink-i
.over
  background: $pollux-success !important


@import "bulma"

.message.is-dark .message-body
  background: $grey-darkest
  border-color: $black-ter
  color: $grey-light
