html{
  overflow-y: auto;
     height: 100vh;
}



   body{
  overflow-y: auto;
     height: 100%;
}

.ble{
  pointer-events: none;
}
.lv2{
  min-width:12rem;
  max-width:12rem;
}
.lv2:hover{
  border-left:solid 3px pink
}

#USERMENU.is-active{
    background:white ;
    color:#222 !important;
    position: relative;
  //box-shadow: 0 5px 20px rgba(122, 122, 122, 0.5);
  z-index:9999 !important;
}

.hero .icon {
  color:white !important;
}
.hero .navbar{
  background: none;
box-shadow: none;
}
.hero .x{
color:white;
}
.navbar-item:hover .x{
color:#fff;
}
.navbar-dropdown .lv2:hover{
color:white !important;
  background: #f07db7 !important;
}

.navbar{
box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);
  z-index: 1000;

}
.hero .navbar-item:hover{
  background: rgba(229, 132, 151, 0);
  //background: linear-gradient(to bottom, #e58497 0%, rgba(255, 255, 255, 0.18) 100%);
  text-shadow: 0 0 15px #ffd1e2 !important;

}
.striped{
  /*linear-gradient(141deg, #8569eb 0%, #b790f7 71%, #d4a5fb 100%)*/
  background: repeating-linear-gradient(
  45deg,
  rgba(183, 144, 247, 0.1),
  rgba(183, 144, 247, 0.1) 10px,
  rgba(133, 105, 235, 0.1) 10px,
  rgba(133, 105, 235, 0.1) 20px
);

}

.round-5{
  width: 210px;
  height: 100px;
  margin: 0 3px;
  border-radius: 5px;
}


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
   // font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.hidden{
  display: none
}

.profileMock{
  width: 400;
  height: 300;
  position:fixed;
  right:12px;
  top:12px;
  z-index:100000;

}

.profileMock .hexagon{

  position:absolute;
  top:72px;
  left:61px;
}

.mainframe{
  position:relative;
 z-index:1;
}

#bgm{
  position:absolute;
  background-size: contain;
  height: 185px;
    width:346px;
  top:18px;
  left:45px;
  z-index:0;
}


.hexagon {
  position: relative;
  width: 90px;
  height: 51.96px;
  margin: 25.98px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 103.9230px;
  background-position: center;
}


.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 63.64px;
  height: 63.64px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 13.18px;
}
/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 90.0000px;
  height: 51.96152422706632px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -31.8198px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -31.8198px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 90.0000px;
  height: 51.9615px;
  z-index: 2;
  background: inherit;
}

.hexContainer{
  display:inline-block;
  width:98px;
  height:20px;
  position: relative;
  padding:0px;
  margin:2px 12px
}


/*--------------*/

.smolHex {
  position: relative;
  width: 50px;
  height: 28.87px;
  margin: 14.43px 0;
  background-image: url(http://csssmolHex.com/img/meow.jpg);
  background-size: auto 57.7350px;
  background-position: center;
}

.shexTop,
.shexBottom {
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 7.32px;
}

/*counter transform the bg image on the caps*/
.shexTop:after,
.shexBottom:after {
  content: "";
  position: absolute;
  width: 50.0000px;
  height: 28.86751345948129px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-14.4338px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-14.4338px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-14.4338px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.shexTop {
  top: -17.6777px;
}

.shexTop:after {
  background-position: center top;
}

.shexBottom {
  bottom: -17.6777px;
}

.shexBottom:after {
  background-position: center bottom;
}

.smolHex:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 50.0000px;
  height: 28.8675px;
  z-index: 2;
  background: inherit;
}

/*--------------*/
/*--------------*/

.mid{
      position: absolute;
    vertical-align: text-top;
    top: 10%;
    line-height: 1;
    left: 80px
}
.gcard{
  height:64px;
  margin:4px;
 // max-width:300px;
  width:48%;
  border-radius:4px;
  display:inline-block;
}

.hasPollux{

  background:#91d031;
  height: 100%;
  width: 10px;
  position: absolute;
  top:0;
  right:0

}
.no{
  background:#d64040;
  border-radius: 0 4px 4px 0
}

.nopePol{
  opacity: .5
}
.addme,.manage{
  position:absolute;
  bottom:0;
  right:10px;
  z-index:1;
}

.owner{
  background: url("../images/flairs/adm.png");
}
.adm{
  background: url("../images/flairs/mod.png");
}
.flair{
  background-size:cover;
  width: 57px;
  height: 18px;
  position: absolute;
  top:2px;
  right:10px;
}

.is-vcentered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  vertical-align: middle;
}

.is-round{
  border-radius:100%
}
.toggle,.arrayAd{
  cursor: pointer
}
.m4{
  margin:4px
}

}

        .division2 /*.nano*/{
          flex:2;
          margin-bottom:12px
        }
        .shad{
        position:absolute;
        width:100%;
        height:100%;
          box-shadow:inset 0 20px 50px #fff;
          pointer-events:none;
        }
        .divisi{
  opacity:.3;
  transform: scale(.4)
}
      .division{
        height:100%;
        display:flex;
        flex-flow: column;
        }

.footspace{
  height:24px;
}
.weak{
  opacity: .5 !important
}
b{
  font-weight: 900
}

.b500{
  font-weight: 500 !important;

}
.b500T{
  font-weight: 500 !important;
  font-size: 120%
}

.b900{
  font-weight: 900 !important
}


.bg_icon{
  position:relative;
   align-items: center;
  vertical-align: middle;
  padding:1%;
  margin:1%;
  width:23%;
  display: inline-block;
  box-shadow: 0 1px 3px #ccc;
  border-radius: 2px;
  background:white;

}
.this_rare{
  position:absolute;
  height:32px;
  top:-5px;
  left: -5px;

}

.inv_box{
  background:#eee;
  border-radius: 5px;
  height:90%;
  box-shadow:inset 0 2px 3px rgba(0,0,0, 0.1), 0 0 0 1px rgba(0,0,0, 0.1);
  display: block;
  padding: 1.25rem;
}

.sf{
  position:relative;
  flex:2;
}
.stretch{
  flex:2;
    max-height: 100vh;
      position: absolute;
    top: 0;
    bottom: 0;
}

.downmost{
  position:absolute;
  width:100%;
  bottom:0
}

.medalSlot{
  height:80px;
  width:80px;
  margin:2px;
  border-radius: 100%;
  box-shadow:inset 0 1px 3px #aaa;
  background: rgba(221, 221, 221, 0.4);
  position:relative;
}


.unequip:hover{
  filter:drop-shadow(1px 1px 5px #f00)
}
.equip:hover{
  filter:drop-shadow(1px 1px 5px #0f0)
}

.bgpick:hover{
  filter:drop-shadow(0px 0px 6px #ea2c7c)
}

.drag{
  z-index: 9999;
  overflow: visible;
}
#cardPile{
  height: 100%;
}


.tinyFonto{
  margin:auto;
  font-size:7.5pt;
  line-height: 7pt;
      width: 100%;
}


.medallien{

    display:inline-block;
  //box-shadow: 0 1px 3px #ccc;
  height: 80px;
  width: 80px;
  position: relative;
  filter:drop-shadow(1px 1px 3px #ccc);

}
.med-pic{
    height: 80px;
  width: 80px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}
.med-pic img{
  width:50px
}

.med-name{
  border-radius: 5px;
  width: 100%;
  height: 30px;
  //border-top:solid 1px #eee;
  text-align: center;
  position: absolute;
  bottom: -20px;
  align-items: stretch;
  display: flex;
}

#equipped .med-name{
  display:none;
}

#cardPile .medallien{
  margin:15px
}

.med-rare{
  position:absolute;
  right:0px;
  top:0px;

}
.med-rare img{
height: 25px;
}


#medalmocks{
  position: absolute;

  top:243px;
  left:170px;
  height:30px;
  width: 210px;
  z-index: 999;
}

#ptxmock{

text-align: justify;
  position: absolute;
  top:188px;
  left:170px;
  line-height: 13px;
  font-size: 10.5px;
  height:50px;
  width: 210px;
  z-index: 999;

}


      .reslideU{
      animation: reslideU .4s cubic-bezier(.11, .56, .67, 1.53) both;
      animation-delay: 1.5s;
    }

        @keyframes reslideU {
    0% {
      opacity: 0;
      transform:translateY(110px) scale(.7) translateX(380px)
    }

    100% {
      opacity: 1;
      transform:translateY(0) scale(.7) translateX(380px)
    }
    }


.hidden{
  display: none
}

.curr_icon{
  position:absolute;
  transform:scale(.8) translateY(5px) translateX(8px)
}

.bitdown{
  filter: drop-shadow(0 0 10px rgba(255, 231, 235, 0.63));
  position:absolute;
  right:12px;
  transform:translateY(35px)
}

.herohr{
  opacity: .3;
  margin:  0;
}

.floatnglow{
  transform: translatey(0px);
  animation: floatnglow 6s ease-in-out infinite;
  filter:drop-shadow(0 0 10px rgba(255, 231, 235, .6))
}
@keyframes floatnglow {
  0% {

    transform: translatey(0px);
    filter:drop-shadow(0 0 10px rgba(255, 231, 235,.6))
  }
  40% {

    transform: translatey(-15px);
    filter:drop-shadow(0 0 25px rgba(255, 231, 235, 0))
  }
  100% {

    transform: translatey(0px);
    filter:drop-shadow(0 0 10px rgba(255, 231, 235, .6))
  }
}

.floatnglow:hover{
  transform: rotate(45)
}

.generally-disabled{
  user-select: none;
  opacity: .5;
  cursor: not-allowed !important;
  filter:blur(1px)
}
.generally-disabled .columns{

  pointer-events: none;
}
.fullheight{
  height: 100%
}


.nano-content{
  outline: 0 !important
}

.channel{
  margin-right: 12px;
}
  .channel a{
  padding: 5px 25px;
    transition: all 100ms ease;
    color:#aaa;
}
.channel:hover{
  background: #333;
  border-radius: 3px;

}
.channel a:hover{
    color:#ccc;

}
.channel .is-active{
    background: #db6195;
  border-radius: 3px;
  border-left: solid 5px #b2205e;
  transition: all 300ms ease;
    color:#fff;
}
.medallien_disp{
  width:50px;
  margin:5px;
}

.supershadow{
  box-shadow: 0 3px 50px #111;
}

.texshadow{
  text-shadow: 2px 2px 2px #222 !important
}

    .is-miniultra{
    font-size:80px
    }

.fadezoom{
    animation: fadezoom .4s both;

}
.fadein{

  animation: fadeIn 2s both;
  animation-delay: .5s

}
@keyframes fadeIn {
  0% {

    opacity: 0
  }

  100% {
    opacity: 1

  }
}
@keyframes fadezoom {
  0% {

    opacity: 0;
    transform: scale(1.2)
  }


  100% {
    transform: scale(1);
    opacity: 1

  }
}
