.message.is-small.fullheight
  .message-header(style="z-index:9"): b Activity Logging Options
  .message-body.nano: .nano-content

    .container.is-fluid: .columns.is-marginless

      .column
        .message.is-small.is-success
          .message-header
            p Activity
          .message-body
            ul
              li.level
                p User Joins Server
                input(type="checkbox")

              li.level
                p User Leaves Server
                input(type="checkbox")

              li.level
                p Message Deleted
                input(type="checkbox")

              li.level
                p Message Edited
                input(type="checkbox")



        .message.is-small.is-info
          .message-header
            p Moderation
          .message-body
            ul
              li.level
                p User Kicked
                input(type="checkbox")

              li.level
                p User Banned
                input(type="checkbox")

              li.level
                p User Muted
                input(type="checkbox")

              li.level
                p User Unmuted
                input(type="checkbox")


      .column
        .message.is-small.is-warning
          .message-header
            p Advanced
          .message-body
            ul

              li.level
                p User Photo Changed
                input(type="checkbox")

              li.level
                p User Name or Nick Changed
                input(type="checkbox")

              li.level
                p User Roles Updated
                input(type="checkbox")

              li.level
                p Channel Created
                input(type="checkbox")

              li.level
                p Channel Deleted
                input(type="checkbox")

              li.level
                p Role Created
                input(type="checkbox")

              li.level
                p Role Updated
                input(type="checkbox")

              li.level
                p Ban Revoked
                input(type="checkbox")

              li.level
                p Permissions Edited
                input(type="checkbox")




