.columns
  script.
    var unsaved = false;

  .column.is-3
    .box
      .menu-label Profile Settings
      ul.menu-list
        li: a.is-active.itm(data-target="backs") Background
        li: a.itm(data-target="medals") Medals
        li: a.itm(data-target="ptx") Personal Text
        //li: a.itm(data-target="stamp") Stamp
      hr
      .menu-label Preview
      div(style="height:200px")
        a.button#allprev.is-small.is-light PREVIEW ALL
        span &#x2003
        a.button#allsave.is-small.is-pink.is-outlined SAVE ALL
        +mockup


  .column.is-9
    .box
      div(style="min-height:480px")
        #backs.pgs
          include profile/backs
        #medals.pgs.hidden
          include profile/medals
        #ptx.pgs.hidden
          include profile/ptx
        #stamp.pgs.hidden


  br
  .hidden#ptxtdef=  user.modules.persotext
