extends layout
block head
  title 404 AAAAAAAAA
block content
  hr
  .container

    .columns
      br
      .column.is-6.level
        br
        h1.level-item.title.is-1: b 404
        h1.level-item.subtitle.is-3: b Page not Found
      .column.is-6
        img(src="https://safebooru.org//images/2214/b1bfb2950bed39a6b77173add8a83bb1d300f0e8.jpg?2306764")(style="position:absolute;top:0;right:0")
  hr(style="position:absolute;bottom:20px;z-index:9999;width:100%")
