html
head
  title Redir...
body
  link(rel='stylesheet', href='/css/heart.css')


  span.title.level-item#redir REDIRECTING...
  span#redire(style="visibility:hidden")= redire
  div.container

    div.grid-big
      - for (i=0; i<25; i++)
        div.cell-1
  div.loadere
    div.bare
      div.bareb

  script.
      try{
       window.opener.location.reload();
       }catch(e){ }

        setTimeout(function(){
          document.getElementById("redir").innerHTML = "Poi!"
            setTimeout(function(){
              window.close()
       window.location.replace("/");
            },1300)
        },2000)


