extends layout
block head
    style.
        .division2, .nano{
          flex-grow:1;
          padding:12px
        }
        .shad{
        position:absolute;
        width:100%;
        height:100%;
          box-shadow:inset 0 20px 50px #fff;
          pointer-events:none;
        }



block nav
    include navbas
    .container
      a.button.is-small#pt: img(src="/images/flags/BR.png")
      a.button.is-small#en: img(src="/images/flags/GB.png")
      a.button.is-small#de: img(src="/images/flags/DE.png")
      a.button.is-small#nl: img(src="/images/flags/NL.png")
      a.button.is-small#pt-EU: img(src="/images/flags/PT.png")
      a.button.is-small#ru RU

block content

    .container.is-fluid.division2.nano.is-marginless.is-paddingless
      .nano-content: #placer
      .shad


block scripts
 script.
  $(document).ready(function(){
    $(".container").fadeIn()
    var siteLang;
      if(!localStorage.locale){
        siteLang = 'en';
       localStorage.setItem('locale', siteLang);
      }else {
       siteLang = localStorage.locale;
       var l="en"
       $("#locale").html(localStorage.locale);

       setLang(siteLang)

      }
       function setLang(lang) {
           $("#placer").fadeOut()
            setTimeout(function(){

        localStorage.setItem('locale', lang);
        console.log(lang)
         $.post("/cmlist?lang="+lang,function(data, stats){
          if(stats!= "success"){
          alert("nope")

          }
           $("#placer").html(data)
           $("#placer").fadeIn()
           $(".nano").nanoScroller();
         })
            },500)
       }



          $("#en").click(function(){
            setLang("en")
         })
          $("#pt").click(function(){
            setLang("dev")
         })
         $("#de").click(function(){
            setLang("de")
         })
         $("#pt-EU").click(function(){
            setLang("pt")
         })
         $("#nl").click(function(){
            setLang("nl")
         })
         $("#ru").click(function(){
            setLang("ru")
         })
      })

