extends layout
block content
 style.
   html,body{
     overflow:hidden !important;
   }
   a.nav-item{
    color:#ffc9e0 !important ;
  }  a.nav-item.is-active,a.nav-item:hover{
    color:#ffffff !important;
    border-bottom:solid 1px #ffffff ;
  }


    /* ANIME */
    img{
    //filter: brightness(0) invert(1);
    //opacity:.5
    }
    #marq{
    position:absolute;
    background:blue;
    top: 15%;
    right: 30%;
    width: 30%;

     animation: mark 4.8s both infinite;
      animation-delay: 0s;
    }
    .smolHex{
    transform:scale(.6) translateX(10px)!important
    }
    .introFloat{
      pointer-events:none;
      position:absolute;
      height:;
      top:-0px;
      right:-25%;
      animation: slideR 1.2s both;
      animation-delay: .2s;
    }
    .introFloat img{
        height:200vh !important;
    }
    .is-ultra{
    font-size:150px
    }

    .slideL-1s{
      animation: slideL .5s both;
      animation-delay: .8s;
    }
     .slideL-500ms{
      animation: slideL 1s both;
      animation-delay: .5s;
    }
      .slideU{
      position:absolute;
      width:100%;
      z-index:3;
      animation: slideU .8s both;
      animation-delay: 1s;
    }

      @keyframes mark {
    0% {
      opacity: 0;
      transform:translateX(-10%)
    }10% {
      opacity: 0;
      transform:translateX(-10%)
    }

    25% {
      opacity: .8;
      transform:translateX(0)
    }
     75% {
      opacity: .8;
      transform:translateX(0)
    }
    90% {
      opacity: 0;
      transform:translateX(10%)
    }
     100% {
      opacity: 0;
      transform:translateX(10%)
    }
    }

    @keyframes slideR {
    0% {
      opacity: 0;
      transform:translateX(100px)
    }
    100% {
      opacity: .8;
      transform:translateX(0)
    }
    }

      @keyframes slideL {
    0% {
      opacity: 0;
      transform:translateX(-10px)
    }
    100% {
      opacity: 1;
      transform:translateX(0)
    }
    }
        @keyframes slideU {
    0% {
      opacity: 0;
      transform:translateY(-10px)
    }

    100% {
      opacity: 1;
      transform:translateY(0)
    }
    }
           @keyframes slideU2 {
    0% {
      opacity: 0;
     bottom:-375px
    }

    100% {
      opacity: 1;
      bottom:-385px
    }
    }


  /*discord*/
  .widget-channel{
   font-size:8px !important;
  }
  .gaveta{
  transform:scale(.7) translateY(-15%);

  position:absolute;
  left:60%;
  bottom:-385px;
  z-index:2;
  animation: slideU2 1s both;
  animation-delay: 2s;
  transition: all ease .3s

  }

  .gaveta:hover{
  transform:scale(.7)  translateY(-490px);
  transition: all ease .5s

  }

 section.hero.is-fullheight.is-primary.is-bold.coless
   .is-marginless
      include navbas

   .hero-body
     container(style="z-index:2")#bods
      //.discLog.slideL-1s
       img(src="https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png")
      p.subtitle.slideL-500ms Hi, I'm
      p.title.is-ultra.slideL-500ms: b Pollux
      p.subtitle.slideL-1s Your virtual Community Manager and Entertainer
      //iframe.gaveta(src="https://discordapp.com/widget?id=277391723322408960&theme=dark" width="350" height="450" allowtransparency="true" frameborder="10")

      #marq.is-size-5
       p I can do this shit here you see long text.
      div
        a.button.is-dark.has-addons(href="/invite")
          span.icon.is-pulled-left
            i.fa.fa-envelope-open-o

          span.divider  &#x2000
          div( style="border-left:1px solid #222;border-right:1px solid #555 ;height:20px")
          span.divider  &#x2001
          span.is-pulled-right Add me to your server
      br
      div
        a.button.is-dark.has-addons(href="/commands")
          span.icon.is-pulled-left
            i.fa.fa-cogs

          span.divider  &#x2000
          div( style="border-left:1px solid #222;border-right:1px solid #555 ;height:20px")
          span.divider  &#x2001
          span.is-pulled-right See my command List

        span.divider  &#x2003  &#x2003



     .introFloat
       img(src="http://hydra-media.cursecdn.com/feheroes.gamepedia.com/3/38/Full_Portrait_Felicia.png")

   //.hero-footer.level.slideU
      hr

      //a.nav-brand.nav-item: span.title: b Pollux
      a.nav-item.is-active HOME
      a(href="/commands").nav-item COMMANDS
      a(href="https://discord.gg/ay48h7Q").nav-item SUPPORT
      a(href="/info").nav-item INFO
      a(href="/global").nav-item GLOBAL
      div.navbar-item.level-item.level
        .level-item.navbar-separator
        if !userinfo
          a(onclick="javascript:login()").level-left.button.is-dark.has-addons.is-medium
            span.icon.is-pulled-left
              i.fa.fa-sign-in
            //span.divider  &#x2004
            div( style="border-left:1px solid #222;border-right:1px solid #444 ;height:40px")
            span.divider  &#x2000
            span.is-pulled-right Login
        else
          a(href="/dashboard").level-left.button.is-success.has-addons.is-medium
            span.icon.is-pulled-left
              img(src=userinfo.pix style="border-radius:5px; border:solid #a1d195 2px")
              //i.fa.fa-sign-in
            //span.divider  &#x2004
            div( style="border-left:1px solid #444;border-right:1px solid #eee;opacity:.2; ;height:30px")
            span.divider  &#x2000
            span.is-pulled-right Dashboard

block scripts
 script(src="/js/home.js")
