section.hero.is-primary.is-small.is-bold.coless
  div(class="hero-header")
    include navbas
  div(class="hero-body")
    h1(class="title"): b= title
    p(class="subtitle") Sub
  div(class="hero-footer")

