doctype html
html(class="no-js" lang=locale||"en")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title= title || "Pollux"
        meta(name="description" content=desc||"Pollux Bot Webpage")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#db4584")

        link(rel="apple-touch-icon" href="/favicon.png")
        link(rel="icon" href="/favicon.png")
        link(href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css')


        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/css/lightbox.css')
        link(rel='stylesheet', href='/css/nano.css')
        link(rel='stylesheet', href='/css/sweetalert.css')
        link(rel='stylesheet', href='/css/custom.css')
        link(rel='stylesheet', href='/css/style.css')



    body
      stuff.division
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]
        block nav
        block content
        block side
        .downmost
          block footer


        script(src='http://code.jquery.com/jquery-3.2.1.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script  window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')
        script(src='/js/bulma.js')
        script(src='/js/nano.js')
        script(src='/js/sweetalert.js')
        script(src='/js/clipboard.js')
        script(src='/js/custom.js')
        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-104940687-1','auto');ga('send','pageview')
        script(src="https://www.google-analytics.com/analytics.js" async defer)

        block scripts

