script.
  setTimeout(function(){

  $.get(location.href, function(data){


  $("body").html(data)

  })

  },3000)

  console.log("skafhsajkfhjsa")
//.sf: .stretch
        .tabs.is-marginless.is-centered.is-boxed
          ul
            li.tab(data-target="tabA").is-active: a Profile
            li.tab(data-target="tabB"): a Inventory
            li.tab(data-target="tabC"): a Options
            li.tab(data-target="tabD"): a Boxes



        .container.columns.is-fluid.gaps

          .column.is-1
          .column.is-2: .box.nano
            p a
            p a
            p a
            p a

          .column.is-8.tabcontainer#tabA: .box.nano
            .columns
              .column
                img(src="/images/backdrops/"+user.modules.bgID+".png")

              .column
                small Personal Text
                input.input
                br
                br

                .box.level
                  .level-item
                  for i in [1,2,3,4,5,6,7,8]
                    icon.level-item: i.fa.fa-home

                  .level-item

            .columns
              .column
                .inv_box.nano
                  .nano-content
                    for i in [1,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8]

                      .bg_icon
                        img(src="/images/backdrops/"+user.modules.bgID+".png").is-vcentered
                        img.this_rare(src="/images/tiers/UR.png").is-vcentered


              .column
                .card.level
                  for i in [1,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8]
                    .level-item
                      div
                        icon: i.fa.fa-home
                        br
                        br
                        icon: i.fa.fa-home
                        br
                        br
                        icon: i.fa.fa-home





          .column.is-1





          //.column.is-3: .box
        div
